<div class="flex flex-column">
    <h1 class="flex align-items-center justify-content-center">Technologies & outils</h1>
    <br />
    <div class="flex align-items-center justify-content-center" id="myCanvasContainer">
        <canvas width="1100" height="500" id="myCanvas">
        </canvas>
    </div>
    <div id="tags">
        <ul>
            <li><a>Bash</a></li>
            <li><a>Dos</a></li>
            <li><a>Java</a></li>
            <li><a>J2EE</a></li>
            <li><a>TypeScript</a></li>
            <li><a>Python</a></li>
            <li><a>HTML 5</a></li>
            <li><a>JavaScript</a></li>
            <li><a>jQuery</a></li>
            <li><a>Wordpress</a></li>
            <li><a>HTTPS</a></li>
            <li><a>REST</a></li>
            <li><a>SQL</a></li>
            <li><a>postgre</a></li>
            <li><a>Git</a></li>
            <li><a>Github</a></li>
            <li><a>Spring</a></li>
            <li><a>Junit</a></li>
            <li><a>Mockito</a></li>
            <li><a>Angular</a></li>
            <li><a>Karma</a></li>
            <li><a>Jasmine</a></li>
            <li><a>Docker</a></li>
            <li><a>Kubernetes</a></li>
            <li><a>Terraform</a></li>
            <li><a>Node.js</a></li>
            <li><a>Maven</a></li>
            <li><a>Gradle</a></li>
            <li><a>Linux</a></li>
            <li><a>Windows</a></li>
            <li><a>Hibernate</a></li>
            <li><a>Oracle</a></li>
            <li><a>MariaDB</a></li>
            <li><a>MongoDB</a></li>
            <li><a>Jenkins</a></li>
            <li><a>Eclipse</a></li>
            <li><a>VS Code</a></li>
            <li><a>IntelliJ</a></li>
            <li><a>Windsurf</a></li>
            <li><a>Postman</a></li>
            <li><a>Electron</a></li>
            <li><a>JBoss</a></li>
            <li><a>Tomcat</a></li>
            <li><a>SonarQube</a></li>
            <li><a>Jira</a></li>
            <li><a>Redmine</a></li>
            <li><a>Rally</a></li>
            <li><a>Agora</a></li>
        </ul>
    </div>
</div>