<div class="flex flex-column main">
    <div class="grid ml-5 mr-5">
        <div class="col-6">
            <h2 class="text-400">Qui suis-je ?</h2>
            <p class="ml-3 line-height-3">
                Ayant un réel attrait pour les nouvelles technologies, je me distingue par une vision innovante dans
                l’amélioration des
                outils et processus d’un métier, notamment dans le contexte de la transition numérique française.
            </p>
            <p class="ml-3 line-height-3">
                Mon objectif est de créer des solutions techniques à forte valeur ajoutée,
                sans jamais perdre de vue l’humain derrière l’écran.</p>
            <h2 class="text-400">Un parcours atypique, une passion constante</h2>
            <p class="ml-3 line-height-3">
                Avec un solide bagage en ingénierie, robotique et informatique, j’ai construit mon profil sur des bases
                techniques
                variées : génie mécanique, gestion de production, développement web et cloud computing.
            </p>
            <p class="ml-3 line-height-3">
                De l’institut méditerranéen d'études et de recherche en robotique et informatique de Perpignan à une
                recente
                certification de développeur confirmé Angular, j’ai toujours cherché à faire évoluer mes compétences,
                porté par une curiosité insatiable et un vrai goût pour le challenge.
            </p>
            <h2 class="text-400">Un développeur… et un geek assumé !</h2>
            <p class="ml-3 line-height-3">
                Je suis un développeur full stack de 37 ans, mais aussi un passionné de culture geek. Si je ne suis pas
                en train de coder ou d’expérimenter un nouveau framework, vous me trouverez probablement en train de
                jouer à un jeu indé, de binge-watcher une série de science-fiction, ou de refaire le monde autour d’un
                café en parlant de musique, de cinéma ou de l’évolution de l’IA.
            </p>
            <p class="ml-3 line-height-3">
                Mon approche du développement est
                profondément humaine : j’aime collaborer, échanger, apprendre et transmettre.
            </p>
            <h2 class="text-400">De la conception au déploiement: une vision à 360°</h2>
            <p class="ml-3 line-height-3">
                Spécialisé dans des stacks technologiques comme Java/Spring Boot, Angular et TypeScript, je complète
                aujourd’hui mon expertise avec une forte montée en compétences DevOps (Docker, Kubernetes, AWS).
            </p>
            <p class="ml-3 line-height-3">
                Mon but ? Être capable de concevoir une application de A à Z, du front au déploiement en cloud, tout en
                gardant un esprit agile et orienté utilisateur.
            </p>
        </div>
        <div class="col-6 align-content-center">
            <h2 class="flex justify-content-center text-400">Technologies & outils</h2>
            <div class="flex justify-content-center" id="myCanvasContainer">
                <style>
                    @media screen and (max-width: 1024px) {
                        #myCanvas {
                            width: 500px;
                            height: 500px;
                        }
                    }

                    @media screen and (max-width: 425px) {
                        #myCanvas {
                            width: 300px;
                            height: 300px;
                        }
                    }
                </style>
                <canvas width="600" height="600" id="myCanvas">
                </canvas>
            </div>
            <div id="tags">
                <ul>
                    <li><a href="#">Bash<img src="assets/technologies/bash.png"></a></li>
                    <li><a href="#">Dos<img src="assets/technologies/dos.png"></a></li>
                    <li><a href="#">Java<img src="assets/technologies/java.png"></a></li>
                    <li><a href="#">Jakarta<img src="assets/technologies/jakarta.png"></a></li>
                    <li><a href="#">TypeScript<img src="assets/technologies/typescript.png"></a></li>
                    <li><a href="#">Python<img src="assets/technologies/python.png"></a></li>
                    <li><a href="#">HTML 5<img src="assets/technologies/html-5.png"></a></li>
                    <li><a href="#">JavaScript<img src="assets/technologies/javascript.png"></a></li>
                    <li><a href="#">jQuery<img src="assets/technologies/jquery.png"></a></li>
                    <li><a href="#">Wordpress<img src="assets/technologies/wordpress.png"></a></li>
                    <li><a href="#">HTTPS<img src="assets/technologies/https.png"></a></li>
                    <li><a href="#">REST<img src="assets/technologies/rest.png"></a></li>
                    <li><a href="#">SQL<img src="assets/technologies/sql.png"></a></li>
                    <li><a href="#">postgre<img src="assets/technologies/postgre.png"></a></li>
                    <li><a href="#">Git<img src="assets/technologies/git.png"></a></li>
                    <li><a href="#">Github<img src="assets/technologies/github.png"></a></li>
                    <li><a href="#">Spring<img src="assets/technologies/spring.png"></a></li>
                    <li><a href="#">Junit<img src="assets/technologies/junit.png"></a></li>
                    <li><a href="#">Mockito<img src="assets/technologies/mockito.png"></a></li>
                    <li><a href="#">Angular<img src="assets/technologies/angular.png"></a></li>
                    <li><a href="#">Karma<img src="assets/technologies/karma.png"></a></li>
                    <li><a href="#">Jasmine<img src="assets/technologies/jasmine.png"></a></li>
                    <li><a href="#">Docker<img src="assets/technologies/docker.png"></a></li>
                    <li><a href="#">Kubernetes<img src="assets/technologies/kubernetes.svg"></a></li>
                    <li><a href="#">Terraform<img src="assets/technologies/terraform.png"></a></li>
                    <li><a href="#">Node.js<img src="assets/technologies/node-js.png"></a></li>
                    <li><a href="#">Maven<img src="assets/technologies/maven.png"></a></li>
                    <li><a href="#">Gradle<img src="assets/technologies/gradle.png"></a></li>
                    <li><a href="#">Linux<img src="assets/technologies/linux.png"></a></li>
                    <li><a href="#">Windows<img src="assets/technologies/windows.png"></a></li>
                    <li><a href="#">Hibernate<img src="assets/technologies/hibernate.png"></a></li>
                    <li><a href="#">Oracle<img src="assets/technologies/oracle.png"></a></li>
                    <li><a href="#">MariaDB<img src="assets/technologies/mariadb.png"></a></li>
                    <li><a href="#">MongoDB<img src="assets/technologies/mongodb.png"></a></li>
                    <li><a href="#">Jenkins<img src="assets/technologies/jenkins.png"></a></li>
                    <li><a href="#">Eclipse<img src="assets/technologies/eclipse.png"></a></li>
                    <li><a href="#">VS Code<img src="assets/technologies/vs-code.png"></a></li>
                    <li><a href="#">IntelliJ<img src="assets/technologies/intellij.png"></a></li>
                    <li><a href="#">Windsurf<img src="assets/technologies/windsurf.svg"></a></li>
                    <li><a href="#">Postman<img src="assets/technologies/postman.png"></a></li>
                    <li><a href="#">Electron<img src="assets/technologies/electron.svg"></a></li>
                    <li><a href="#">JBoss<img src="assets/technologies/jboss.png"></a></li>
                    <li><a href="#">Tomcat<img src="assets/technologies/tomcat.png"></a></li>
                    <li><a href="#">SonarQube<img src="assets/technologies/sonarqube.png"></a></li>
                    <li><a href="#">Jira<img src="assets/technologies/jira.png"></a></li>
                    <li><a href="#">Redmine<img src="assets/technologies/redmine.png"></a></li>
                    <li><a href="#">Rally<img src="assets/technologies/rally.png"></a></li>
                    <li><a href="#">Omnispace<img src="assets/technologies/omnispace.png"></a></li>
                    <li><a href="#">Dolibarr<img src="assets/technologies/dolibarr.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>