<div class="flex flex-column">
    <h1 class="flex align-items-center justify-content-center">Technologies & outils</h1>
    <br />
    <div class="flex align-items-center justify-content-center" id="myCanvasContainer">
        <canvas width="1100" height="500" id="myCanvas">
        </canvas>
    </div>
    <div id="tags">
        <ul>
            <li><a href="#">Bash<img src="assets/technologies/bash.png"></a></li>
            <li><a href="#">Dos<img src="assets/technologies/dos.png"></a></li>
            <li><a href="#">Java<img src="assets/technologies/java.png"></a></li>
            <li><a href="#">Jakarta<img src="assets/technologies/jakarta.png"></a></li>
            <li><a href="#">TypeScript<img src="assets/technologies/typescript.png"></a></li>
            <li><a href="#">Python<img src="assets/technologies/python.png"></a></li>
            <li><a href="#">HTML 5<img src="assets/technologies/html-5.png"></a></li>
            <li><a href="#">JavaScript<img src="assets/technologies/javascript.png"></a></li>
            <li><a href="#">jQuery<img src="assets/technologies/jquery.png"></a></li>
            <li><a href="#">Wordpress<img src="assets/technologies/wordpress.png"></a></li>
            <li><a href="#">HTTPS<img src="assets/technologies/https.png"></a></li>
            <li><a href="#">REST<img src="assets/technologies/rest.png"></a></li>
            <li><a href="#">SQL<img src="assets/technologies/sql.png"></a></li>
            <li><a href="#">postgre<img src="assets/technologies/postgre.png"></a></li>
            <li><a href="#">Git<img src="assets/technologies/git.png"></a></li>
            <li><a href="#">Github<img src="assets/technologies/github.png"></a></li>
            <li><a href="#">Spring<img src="assets/technologies/spring.png"></a></li>
            <li><a href="#">Junit<img src="assets/technologies/junit.png"></a></li>
            <li><a href="#">Mockito<img src="assets/technologies/mockito.png"></a></li>
            <li><a href="#">Angular<img src="assets/technologies/angular.png"></a></li>
            <li><a href="#">Karma<img src="assets/technologies/karma.png"></a></li>
            <li><a href="#">Jasmine<img src="assets/technologies/jasmine.png"></a></li>
            <li><a href="#">Docker<img src="assets/technologies/docker.png"></a></li>
            <li><a href="#">Kubernetes<img src="assets/technologies/kubernetes.svg"></a></li>
            <li><a href="#">Terraform<img src="assets/technologies/terraform.png"></a></li>
            <li><a href="#">Node.js<img src="assets/technologies/node-js.png"></a></li>
            <li><a href="#">Maven<img src="assets/technologies/maven.png"></a></li>
            <li><a href="#">Gradle<img src="assets/technologies/gradle.png"></a></li>
            <li><a href="#">Linux<img src="assets/technologies/linux.png"></a></li>
            <li><a href="#">Windows<img src="assets/technologies/windows.png"></a></li>
            <li><a href="#">Hibernate<img src="assets/technologies/hibernate.png"></a></li>
            <li><a href="#">Oracle<img src="assets/technologies/oracle.png"></a></li>
            <li><a href="#">MariaDB<img src="assets/technologies/mariadb.png"></a></li>
            <li><a href="#">MongoDB<img src="assets/technologies/mongodb.png"></a></li>
            <li><a href="#">Jenkins<img src="assets/technologies/jenkins.png"></a></li>
            <li><a href="#">Eclipse<img src="assets/technologies/eclipse.png"></a></li>
            <li><a href="#">VS Code<img src="assets/technologies/vs-code.png"></a></li>
            <li><a href="#">IntelliJ<img src="assets/technologies/intellij.png"></a></li>
            <li><a href="#">Windsurf<img src="assets/technologies/windsurf.svg"></a></li>
            <li><a href="#">Postman<img src="assets/technologies/postman.png"></a></li>
            <li><a href="#">Electron<img src="assets/technologies/electron.svg"></a></li>
            <li><a href="#">JBoss<img src="assets/technologies/jboss.png"></a></li>
            <li><a href="#">Tomcat<img src="assets/technologies/tomcat.png"></a></li>
            <li><a href="#">SonarQube<img src="assets/technologies/sonarqube.png"></a></li>
            <li><a href="#">Jira<img src="assets/technologies/jira.png"></a></li>
            <li><a href="#">Redmine<img src="assets/technologies/redmine.png"></a></li>
            <li><a href="#">Rally<img src="assets/technologies/rally.png"></a></li>
            <li><a href="#">Omnispace<img src="assets/technologies/omnispace.png"></a></li>
            <li><a href="#">Dolibarr<img src="assets/technologies/dolibarr.png"></a></li>
        </ul>
    </div>
</div>