/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Neuropolitical';
    src: url('/assets/fonts/Neuropolitical-Rg.otf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Jost", sans-serif;
}